// Here you can add other styles
th.content-cell {
    width: 40%;
}

th.topics-cell {
    width: 20%;
}

.nav-item#date {
    margin: 3px;
}

.navbar-nav {
    margin-right: 2%;
}

.card-height {
    height: 180px;
}

.user-image {
    width: 100px;
    height: 100px;
}

.profile-card {
    height: 320px;
}

.name-cell {
    width: 50%;
}

#networkgraph {
    height: 500px;
}

.fill-card {
    height: 97%;
}